body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    
}

.container1 {
    font-size: 14px;
    max-width: 400px;
    
    margin: 20px auto;
    background: #F6F6F8;
    padding: 0px;
    border-radius: 6px;
    border: 1px solid #CDCDCD;
    padding-bottom: 10px;
}

.font-s {
    font-size: 12px !important;
    margin-top: 0px !important;
}
label {
    margin-top: 7px !important;
    margin-bottom: 1px !important;  
}

button {
    font-size: 13px !important;
}

.result {
    margin: 0px 30px 5px 30px;
    background-color: #f9f9f9;
    padding-left: 10px; padding-right: 10px;
    padding: 15px 50px 0px 50px;
    
    border-radius: 5px;
    border: 1px solid #ddd;
}
